.QuienesSomos{
    display: flex;
    flex-direction: column;
}
.QuienesSomos div{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.QuienesSomos img{
    width: 200px;
    align-self: center;
}
.QuienesSomos div h4{
    font-size: 40px;
    align-self: center;
}
.QuienesSomos div p{
    text-align: center;
    color:rgb(95, 5, 5);
}
.QuienesSomos div #ColorTitu{
    color:rgba(226, 6, 6, 0.774);
}
.ArtProgramacion{
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
}
.ArtProgramacion #ImagenesTop{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}
.ArtProgramacion div img{
    width: 45%;
    height: 150px;
    max-width: 350px;
    padding-bottom: 15px;
    
}
.ArtProgramacion div #ImagenMedio{
    width: 75%;
    max-width: 600px;
    height: 400px;
}

.ArtProgramacion #ImagenMid{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ArtProgramacion #ImagenesBottom{
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}
/*Modificación carrusel publicate con nosotros, (posición y background)*/
.waveV1{
    background-color: greenyellow;
}
.waveV2{
    background-color: cadetblue;
}
.ArtPublicateVideos{
    background-color: greenyellow;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ArtPublicateVideos .ArtPublicateVideosTexto{
    width: 100%;
    text-align: center;
}
.ArtPublicateVideos2{
    background-color: cadetblue;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ArtPublicateVideos2 .ArtPublicateVideos2Texto{
    width: 100%;
    text-align: center;
}
/*Modificación carrusel publicate con nosotros, (posición y background)*/
main{
    padding: 0px;
    margin:0px;
}
/*html equipo ventas*/
.SectEqVentas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: cadetblue;
}
.SectEqVentas h3{
    width: 100%;
    text-align: center;
}
.EqVentas{
    width: 80%;
    display: flex;
    justify-content: center;
}
.contacto{
    background-color: cadetblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contactoDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.contacto h3{
    width: 100%;
    text-align: center;
}
.contacto .contactoDiv #textoContacto{
    background-color: hsla(183, 22%, 64%, 0.514);
    border-radius: 40px;
}
.contacto .contactoDiv #textoContacto form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.contacto .contactoDiv #textoContacto form textarea{
    border-radius: 13px;
    border-style: solid;
    border-color: black;
    margin-bottom: 15px;
    resize: none;
}
.contacto .contactoDiv #textoContacto form p{
    position: absolute;
}
.contacto .contactoDiv #textoContacto form #pTextarea{
    top:290px;
}
.contacto .contactoDiv #textoContacto form #pTextarea{
    top:290px;
}
.contacto .contactoDiv #textoContacto form #pNombre{
    top:135px;
}
.contacto .contactoDiv #textoContacto form #pCorreo{
    top:195px;
}

.contacto .contactoDiv #textoContacto input{
    width: 65%;
    height: 30px;
    border-radius: 25px;
    margin-top:10px;
    margin-bottom: 15px;
}
