p{
    font-size: 14px;
}
body{
    background-color: #BDC3C7;
}
main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.seccionNoticia{
    width: 80%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: solid;
    border-radius: 30px;
    border-color: #313132;
}
.seccionNoticia #ContenidoNoticia{
    border-bottom: solid;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    
}
.seccionNoticia #ContenidoNoticia img{
    width: 60%;
    height: 150px;
    border-radius: 40%;
    padding-top: 15px;
    padding-bottom: 15px;
    align-self: flex-start;
}
.seccionNoticia #ContenidoNoticia p{
    display: flex;
    width: 40%;
    flex-wrap: wrap;
}
.seccionNoticia #linksCompartir{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 10px;
}
.seccionNoticia #linksCompartir #linkDerecha{
    color:black;
    text-align: end;
    text-decoration: none;
} 
