#menu-bar{
    display:none;
}
.menu{
    position:absolute;
    top:100px; /*Este top es para que empieze abajo de el header*/
    left:0;
    width: 100%;
    height: 100%;
    background-color: green;
    transition:all 0.2s;
    transform:translateX(-100%);
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.menu a{
    color:black;
    height: 30px;
    padding:10px;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);/*Para hacer un borde de color blanco hacia abajo*/

}
.menu a:hover {
    background:rgba(255,255,255,0.3)/*al pasar el mouse cada a, cambiara un poco su color*/
}
#menu-bar:checked ~ .menu{
    transform:translateX(0%)
}