
main{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
}
.wave{/*Clase wave, la que esta entre el main y el footer*/
    background-color: white;
}
main #TituloVetYCom{
    width: 100%;
    text-align: center; 
}
main #TituloVetYCom h2{
    font-size: 33px;
    letter-spacing: 2px;
    color: rgb(55, 55, 95);
    padding-bottom: 10px;
    font-family: lulo-clean-w01-one-bold,sans-serif;
}
main #TituloVetYCom h4{
    color: rgb(31, 77, 9);
    padding-bottom: 14px;

    font-family: Arial,Helvetica,sans-serif;
}
main .vetCom1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
    height: 185px;
    margin-bottom: 20px;
    border-radius: 15px;
    margin-left: 25px;
    padding: 4px;
    box-shadow: 0px 0px 16px 0px rgba(61, 163, 21, 0.5);

}
main .vetCom1 button{
    border-radius: 35px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-self: flex-end; 
}

main .vetCom1 button{
    background-color: yellow;
}

main .vetCom1 img{
    max-width: 100%;
    display: flex;
    align-self: flex-end;
}

.vetCom1 #carta {
    display: none;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.5);
    background-image: url('https://static.wixstatic.com/media/4ef24d_2e48570c7fa649df979c97d3efb21f8c~mv2.png/v1/fill/w_603,h_311,al_c,q_85,usm_0.66_1.00_0.01/4ef24d_2e48570c7fa649df979c97d3efb21f8c~mv2.webp');
    width: 20%;
    padding: 40px;
    height: 400px;  
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


.vetCom1 #Fondo {
    display: none;
    visibility: hidden;
    background:hsla(123, 100%, 50%, 0.1);
    backdrop-filter: blur(4px); /*backdrop para que se difumine lo que esta detras del 
    contenedor, es decir lo que transparenta el baground al tener opacidad*/
    color:rgb(0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.vetCom1 #Fondo button{
    position: relative;
    height: 30px;
    max-height: 100px;
    margin-top: 35px;
    width: 50px;    
    margin-left: 250px;
}