html 
    head 
        title 
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css' integrity='sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==' crossorigin='anonymous' referrerpolicy='no-referrer')
        link(rel='stylesheet' href='/css/menu.css')
        link(rel="stylesheet", href="/css/footer.css")
        link(rel="stylesheet", href="/css/estiloNoticia.css")
        title Emisora De Radio | Mascotas Radio Tv
    header
        .top
            .top2
                img.ImagenLogo(src='https://static.wixstatic.com/media/4ef24d_f563fdbe68864ec39fc84b525db9d7bd~mv2.png/v1/fill/w_201,h_215,al_c,q_85,usm_0.66_1.00_0.01/4ef24d_f563fdbe68864ec39fc84b525db9d7bd~mv2.webp' alt='')
            input#menu-bar(type='checkbox')
            label#IconoMenu.fa-solid.fa-bars(for='menu-bar')
            i#IconoMenu2.fa-solid.fa-cat
            nav.menu
                a(href='') publicitarios 
                a(href='') qui&eacute;nes somos
                a(href='') Veterinarias y comercios
                a(href='') programaci&oacute;n
                a(href='') Noticias
                a(href='') Consejos
                a(href='') Videos
                a(href='') Concursos
                a(href='') Publicaciones
                a(href='') Contacto
                a(href='') Saludos de famosos
                a(href='') Equipos de ventas
                    
        block content