extends layout 

block content

    h1 Aqui los posts

    each post, i in posts 
        div    
            h1 #{post.titulo}
            p #{post.descripcion}
            a(href=`/posts/${i}/${post.handle}`) ver post

