doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css' integrity='sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='css/menu.css')
  link(rel='stylesheet' href='css/footer.css')
  link(rel='stylesheet' href='css/estiloNoticia.css')
  title Emisora De Radio | Mascotas Radio Tv
header
  // logo
  .top
    .top2
      img.ImagenLogo(src='https://static.wixstatic.com/media/4ef24d_f563fdbe68864ec39fc84b525db9d7bd~mv2.png/v1/fill/w_201,h_215,al_c,q_85,usm_0.66_1.00_0.01/4ef24d_f563fdbe68864ec39fc84b525db9d7bd~mv2.webp' alt='')
    input#menu-bar(type='checkbox')
    label#IconoMenu.fa-solid.fa-bars(for='menu-bar')
    i#IconoMenu2.fa-solid.fa-cat
    nav.menu
      a(href='') publicitarios 
      a(href='') qui&eacute;nes somos
      a(href='') Veterinarias y comercios
      a(href='') programaci&oacute;n
      a(href='') Noticias
      a(href='') Consejos
      a(href='') Videos
      a(href='') Concursos
      a(href='') Publicaciones
      a(href='') Contacto
      a(href='') Saludos de famosos
      a(href='') Equipos de ventas
main
  .seccionNoticia
    #ContenidoNoticia
      h1 BROTE DE COVID-19 EN VISONES
      #imgTextoLado
        img#imagenNoticia(src='https://static.wixstatic.com/media/4ef24d_82a6c4867bc748d38190a4ad07425053~mv2.jpg/v1/fill/w_360,h_240,al_c,q_90/4ef24d_82a6c4867bc748d38190a4ad07425053~mv2.webp')
        p
          | Hace pocos d&iacute;as, las autoridades sanitarias de los Pa&iacute;ses Bajos han informado del contagio
          | de varios visones en dos granjas situadas en la regi&oacute;n de Brabante Septentrional. Los visone pocos d&iacute;as,
          | las autoridades sanitarias de los Pa&iacute;ses Bajos han informado del contagio de varios visones en dos
          | granjas situadas en la regi&oacute;n de Brabante Septentrional. Los visones, de la misma familia de los
          | hurones, ser&iacute;an el primer caso de cont
      span
        | A trav&eacute;s de un comunicado, la ministra Holandesa de Agricultura, Carola Schouten, recalc&oacute; que, las
        | autoridades asumen que el contagio se produjo de humanos a animales. Se realizaron pruebas a varios
        | animales despu&eacute;s de que estos mostraran s&iacute;ntomas de problemas respiratorios y porque hab&iacute;a una tasa
        | de mortalidad m&aacute;s alta de lo normal. Adem&aacute;s, algunos de los empleados de ambas granjas dieron
        | positivo. Aun as&iacute;, se asegur&oacute; que la investigaci&oacute;n sigue en curso para determinar exactamente la
        | fuente de infecci&oacute;n.
      span
        | En estos pa&iacute;ses, las granjas albergan a estos animales para su cr&iacute;a, por su pelaje y se vende en
        | China, Corea, Grecia y Turqu&iacute;a, por lo que, pese a que el ministerio, citando el consejo de las
        | autoridades nacionales de salud advirti&oacute; que las posibilidades de propagaci&oacute;n a humanos son
        | &ldquo;m&iacute;nimas&rdquo;, se ha prohibido el movimiento de estos y otros mam&iacute;feros similares al vis&oacute;n o al hur&oacute;n y
        | su esti&eacute;rcol.
      span
        | Pese a los nuevos brotes que han surgido en animales, la OIE (Organizaci&oacute;n Mundial de la Sanidad
        | Animal) sigue siendo enf&aacute;tico en que &ldquo;La propagaci&oacute;n actual del COVID-19 es el resultado de una
        | transmisi&oacute;n de humano a humano. Hasta la fecha, no existe evidencia de que los animales de compa&ntilde;&iacute;a
        | tengan un rol significativo en la propagaci&oacute;n de la enfermedad. Por consiguiente, no existe
        | justificaci&oacute;n alguna para tomar medidas relacionadas con los animales de compa&ntilde;&iacute;a que puedan afectar
        | a su bienestar.&rdquo;
      span
    #linksCompartir
      a(href='')
        i.fab.fa-facebook
      a(href='')
        i.fab.fa-twitter
      a(href='')
        i.fab.fa-linkedin
      a(href='')
        i.fas.fa-link
      a#linkDerecha(href='')
        | noticias 
        i.fas.fa-newspaper
.waveV2(style='height: 100px; overflow: hidden;')
  svg(viewbox='0 0 500 150' preserveaspectratio='none' style='height: 100%; width: 100%;')
    path(d='M0.00,49.98 C149.99,150.00 349.20,-49.98 675.79,127.78 L500.00,150.00 L0.00,150.00 Z' style='stroke: none; fill: hsl(0, 0%, 0%);')
footer
  h5 S&Iacute;GUENOS EN :
  div
    // div redessociales
    i.fab.fa-facebook
    i.fab.fa-instagram
    i.fab.fa-youtube
  a(href='') mascotasradiotv@gmail.com
  a(href='')
    img(src='https://static.wixstatic.com/media/4ef24d_232d9a11cbea49658eb4dcc3e88f52ce~mv2.png/v1/fill/w_95,h_30,al_c,q_85/4ef24d_232d9a11cbea49658eb4dcc3e88f52ce~mv2.webp' alt='')
  a(href='')
    img(src='https://static.wixstatic.com/media/4ef24d_c4bf7ff8b9844df4b913ac3fdd4ff90a~mv2.png/v1/fill/w_95,h_30,al_c,q_85/4ef24d_c4bf7ff8b9844df4b913ac3fdd4ff90a~mv2.webp' alt='')
script(src='javascript/main.js')
script.
  CambiarCheckbox();
  clickMain();